.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-base: #3A62D7;
    -fx-background: #BEBEBE;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #3A62D7;
}

.stylee {
    -fx-background-color:#FFFFFF;
}

.label {
    -fx-text-fill: #3A62D7;
}

.separator .line {
    -fx-background-color: black;
    -fx-pref-width: 4;
    -fx-border-color: null ;
}